<%- include('../includes/common/css') %>

<div id="db-wrapper">
        <!-- navbar vertical -->
         <!-- Sidebar -->
       <%- include('../includes/admin/aside') %>
               <!-- Page Content -->
                <div id="page-content">
                   <div class="header">
           <!-- navbar -->
           <%- include('../includes/admin/nav') %>
       </div>
                   <!-- Page Header -->
                   <!-- Container fluid -->
                   <div class="container-fluid p-4">


        <%- body %> 
</div>
</div>
</div>

<%- include('../includes/common/js') %> 