
    <!-- Container fluid -->
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <!-- Page Header -->
                <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                    <div class="mb-2 mb-lg-0">
                        <h1 class="mb-1 h2 fw-bold">
                            Categories
                            <span class="fs-5 text-muted">( <%= categories.length %> )</span>
                        </h1>
                        <!-- Breadcrumb  -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/admin">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/admin/category/">Category</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    list
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="nav btn-group" role="tablist">
                        <a href="/admin/category/create" class="btn btn-outline-primary shadow-lg"> Add New Category</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <!-- Tab -->
                <div class="tab-content">

                    <!-- Tab Pane -->
                    <div class="tab-pane fade active show" id="tabPaneList" role="tabpanel" aria-labelledby="tabPaneList">
                        <!-- Card -->
                        <div class="card">
                            <!-- Card Header -->
                            <form action="/admin/category" method="get">
                            <div class="card-header">
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control" placeholder="Search By UserName" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <input class="btn btn-outline-info"  type="submit" id="button-addon2" value="Search">
                                </div>
                            </div>
                            </form>
                            <!-- Table -->
                            <div class="table-responsive">
                                <table class="table mb-0 text-nowrap">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col" class="border-0">Name</th>
                                            <th scope="col" class="border-0">Slug</th>
                                            <th scope="col" class="border-0">Active</th>
                                            <th scope="col" class="border-0">
                                                Category
                                            </th>
                                            <th scope="col" class="border-0">
                                                Created_By
                                            </th>
                                            <% if(user.is_owner === true) { %>
                                                <th scope="col" class="border-0"></th> 
                                            <% } %> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% categories.map(category => { %>
                                            <tr>
                                                <td class="align-middle border-top-0">
                                                    <%= category.name %> 
                                                </td>
                                                <td class="align-middle border-top-0 ">
                                                    <%= category.slug %> 
                                                </td>
                                                <td class="align-middle border-top-0"><%- check(category.status) %> </td>
                                                <td class="align-middle border-top-0 ">
                                                    <%- whois(categories, category.root, 'Null').name %> 
                                                </td>
    
                                                <td class="align-middle border-top-0 ">
                                                    <%- whois(users, category.create_by).first_name %> 
                                                    <%- whois(users, category.create_by).last_name %> 
                                                </td>
                                                <% if(user.is_owner == true) { %>
                                                    <td class="text-muted px-4 py-3 align-middle border-top-0">
                                                        <span class="dropdown dropstart">
                                <a class="text-muted text-decoration-none" href="#" role="button" id="courseDropdown" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                                  <i class="fe fe-more-vertical"></i>
                                </a>
                                <span class="dropdown-menu" aria-labelledby="courseDropdown" style="">
                                  <span class="dropdown-header">Settings</span>
                                  <a class="dropdown-item" href="/admin/category/<%=category.id%>/status"><i class="fe fe-check dropdown-item-icon"></i>Active</a>
                                                        <a class="dropdown-item" href="/admin/category/<%=category.id%>/delete"><i class="fe fe-trash-2 dropdown-item-icon"></i>Delete</a>
                                                        <a class="dropdown-item" href="/admin/category/<%=category.id%>/edit"><i class="fe fe-edit dropdown-item-icon"></i>Edit</a>
                                                        </span>
                                                        </span>
                                                    </td>
                                                    <% } %>  
                                            </tr>
                                            <% }) %>  
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pagination justify-content-center pb-3 pt-4">
                                        <li class="page-item disabled">
                                            <a class="page-link mx-1 rounded" href="#" tabindex="-1" aria-disabled="true"><i class="mdi mdi-chevron-left"></i></a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link mx-1 rounded" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link mx-1 rounded" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link mx-1 rounded" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link mx-1 rounded" href="#"><i class="mdi mdi-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
