<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
        <!-- Card -->
        <div class="card shadow ">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">
              <a href="/"><img src="/images/logo-icon.svg" class="mb-4" alt=""></a>
              <h1 class="mb-1 fw-bold">Change Password</h1>
            </div>
            <!-- Form -->
            <form action="/forgot/password/<%=id%>/<%=token%>" method="POST">
                <%- csrf_token %>

                <% if(error.length > 0) { %>
                    <div class="mt-3 mb-3">
                        <span class="text-danger"> <%= error %>  </span>
                        <hr class="bg bg-danger" />
                    </div>						
                <% } %>  
                <% if(success.length > 0) { %>
                  <div class="mt-3 mb-3">
                      <span class="text-success"> <%= success %>  </span>
                      <hr class="bg bg-success" />
                  </div>						
              <% } %>  
                  <!-- Password -->
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="***********"
                  required>
              </div>

              
                  <!-- Password Confirm -->
                  <div class="mb-3">
                    <label for="password_confirm" class="form-label">Password Confirm</label>
                    <input type="password" id="password_confirm" class="form-control" name="password_confirm" placeholder="***********"
                      required>
                  </div>
                  <!-- Checkbox -->
              <div>
                    <!-- Button -->
                  <div class="d-grid">
                <button type="submit" class="btn btn-outline-dark ">Send Mail</button>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>